<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" package="ru.zorb" name="XMLConfigZorb">
	<Appenders>
		<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
		<RandomAccessFile name="RandomAccessFile" fileName="asyncWithLocation.log"
			immediateFlush="false" append="false">
			<PatternLayout>
				<Pattern>%d %p %class{1.} [%t] %location %m %ex%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<logger name="org.springframework" level="WARN" />
		<logger name="org.springframework.security" level="WARN" />
		<logger name="ru.zorb.security" level="WARN" />
		<logger name="org.apache.cxf" level="DEBUG" />		
		<logger name="ru.zorb" level="debug" />
		<asyncRoot level="WARN" includeLocation="true">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RandomAccessFile" />
		</asyncRoot>
	</Loggers>
</Configuration>