<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC500" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>500</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="FILE" />
  </appender>

  <logger name="sx.sberufs" level="DEBUG"  />
  <logger name="org.springframework" level="INFO"  />
  <logger name="org.hibernate" level="INFO"  />
  <logger name="org.thymeleaf" level="INFO"  />

  <root level="warn">
    <appender-ref ref="ASYNC500" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>